.accordion details {
  border: 1px solid var(--dark-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 16px;
}

.accordion details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 48px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.accordion details[open] summary {
  background-color: var(--light-color);
}

.accordion details summary:focus,
.accordion details summary:hover {
  background-color: var(--dark-color);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 9px;
  height: 9px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  padding: 0 16px;
}

.accordion details[open] .accordion-item-body {
  border-top: 1px solid var(--dark-color);
  background-color: var(--background-color);
}

.accordion-image {
    background: #EFEFEF;
    border: 1px solid #dddddd;
    border-radius: 6px;
}

.accordion-image .item-title {
    cursor: pointer;
    padding: 12px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-image .item-title:after {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #a7a7a7;
    border-right: 2px solid #a7a7a7;
    transform-origin: 75% 75%;
    transform: rotate(-45deg) translateY(-50%);
    transition: transform .1s ease;
    content: '';
}

.accordion-image .item-title.open {
    background: #dddddd;
}

.accordion-image .item-title.open::after {
    transform: rotate(-135deg) translateX(50%);
}

.accordion-image .item-content {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 12px;
    border-bottom: 1px solid #dddddd;
}

.accordion-image .item-title.open + .item-content {
    display: grid;
}