/* .carousels > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.carousels > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.carousels .cards-card-body {
  margin: 16px;
}

.carousels .cards-card-image {
  line-height: 0;
}

.carousels .cards-card-body > *:first-child {
  margin-top: 0;
}

.carousels > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
} */
.carousels-wrapper {
  .slick-slide {
    .slide-content{
      margin: 0 10%;;
      padding: 50px 100px;
      background: #fff;
    }
  }
  
  .slick-list {
      margin: 20px 0px;
  }
  
  .slick-prev,
  .slick-next {
    position: absolute;
    right: 10%;
    background: #777;
    border: none;
    color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 0;
    
    &:before { 
      content: ">"; 
      color: #fff; 
      font-size: 25px;
      position: relative;
      top: -6px;
      right: 5px;
    }
  }
  
  .slick-prev { 
    left: 10%;; 
    &:before { content: "<"; }
  }
  
  .slick-dots {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    
    li {
      display: inline-block;
      
      button { 
        transition: 0.2s background-color ease-in-out 0s;
        border: none;
        padding: 0;
        color: transparent;
        
        width: 10px;
        height: 10px;
        background-color: #777;
        margin-right: 10px;
        border-radius: 50%; 
      }
  
        &.slick-active button { background-color: #fff; }
    }
  }
}
